@import "tailwindcss";

:root {
    --color-primary: #800080;

    --color-secondary-dark: #3a263a;
    --color-background-dark: #181117;
    --color-placeholder-dark: #c889c9;

    --color-secondary: #f5f0f5;
    --color-background: white;
    --color-placeholder: #8d5e8d;
}

* {
    font-family: "Space Grotesk";
}

@property --border-angle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}


@layer utilities {
    
  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(250%)
    }
  }

  .animate-loading-bar {
    animation: loading 0.8s ease infinite;
  }
}


@theme {

  --animate-rotate-border: border-rotate 3s linear infinite; 

  @keyframes border-rotate {
    to {
      --border-angle: 360deg;
    }
  }
}